<p style="color: green"><%= notice %></p>

<%= render @column %>

<div>
  <%= link_to "Edit this column", edit_column_path(@column) %> |
  <%= link_to "Back to columns", columns_path %>

  <%= button_to "Destroy this column", @column, method: :delete %>
</div>
