<tr id="<%= dom_id row %>">
  <td><%= link_to row.id, edit_table_row_path(@table, row) %></td>
  <% @table.columns.each do |c|%>
    <td>
    <% if c.type == "single_select" %>
      <%= @select_options_hash[row["values_#{c.code}"]] %>
    <% elsif c.type == "formula" %>
      <%= row["values_#{c.code}"]%>
    <% else %>
      <%= row["values_#{c.code}"]%>
    <% end %>
    </td>
  <% end %>

</tr>
